body {
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  height: 100px;
  background-color: black;
}

.item {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  font-size: x-large;
}

@media (max-width: 500px) {
  .item {
    display: none;
  }
  #b1 {
    display: flex !important;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-item {
  text-decoration: none;
  font-weight: bold;
}
.btn {
  display: none;
}

#b1 {
  display: none;
}
@media (min-width: 500px) {
  .nav {
    display: none;
  }
}